<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="taskList.length === 0" id="container">
    <strong class="capitalize">First add a task</strong>
  </div>
  <ion-list *ngIf="taskList.length > 0">
    <ion-item *ngFor="let task of taskList" button (click)="openTimerModal(task)">
      <ion-label>
        <h2>{{ task.name }}</h2>
        <p>Duration: {{ formatDuration(task.hours, task.minutes, task.seconds) }}</p>
      </ion-label>
      <img *ngIf="task.image" [src]="task.image" alt="Task Image" style="max-width: 100px; max-height: 100px;" />
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddTaskModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal #addTaskModal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder="Task Name" [(ngModel)]="task.name" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-input min="0" type="number" placeholder="Hours" [(ngModel)]="task.hours" ngDefaultControl></ion-input>
          <ion-input min="0" type="number" placeholder="Minutes" [(ngModel)]="task.minutes"
            ngDefaultControl></ion-input>
          <ion-input min="0" type="number" placeholder="Seconds" [(ngModel)]="task.seconds"
            ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="file" placeholder="Optional Image" ngDefaultControl
            (change)="onFileChange($event)"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #timerModal (willDismiss)="closeTimerModal(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeTimerModal(true)">Cancel</ion-button>
          </ion-buttons>
          <ion-title>{{ selectedTask.name }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="timer-display">
          <h1>{{ formatDuration(timerHours, timerMinutes, timerSeconds) }}</h1>
        </div>
        <ion-button expand="full" (click)="startStopTimer()">
          {{ isTimerRunning ? 'Pause' : 'Start' }}
        </ion-button>
        <ion-button expand="full" (click)="resetTimer()"
          [disabled]="!isTimerRunning && timerHours === 0 && timerMinutes === 0 && timerSeconds === 0">
          Reset
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>